body{
  margin: 0;
  padding: 0;
  color: gainsboro;
}

.App{
  @apply w-screen h-screen bg-blue-950 items-center justify-center flex flex-col
}

.header{
  @apply w-full h-[10%] flex items-center
}

/* .container{
  @apply w-full 
}

.song-details{
  @apply 
}
.lyrics-display{
  @apply  
}
.progressbar{
  @apply  
}
.player-controls{
  @apply 
} */